*{
  box-sizing: border-box;
  margin: 0;
}
html {
  margin-left: 600px;
  margin-right: 600px;
}

.btn {
  float: left;
  width: 25%;
  border: black thin solid;
  text-align: center;
  padding: 55px;
  font-size: 45px;
}

.textbox {
  width: 100%;
  float: left;
  padding: 100px;
  font-size: 60px;
  text-align: right;
}

#C {
   background-color: #f79e9e;
   float: left;
   width: 25%;
   border: black thin solid;
   text-align: center;
   padding: 55px;
   font-size: 45px;
}

#igual {
   background-color: lightgreen;
   float: left;
   width: 25%;
   border: black thin solid;
   text-align: center;
   padding: 55px;
   font-size: 45px;
}
